* {
    margin: 0;
    padding: 0;

}

body {
    text-align: center;
    background: #020024;
    background: linear-gradient(to right, rgba(2, 0, 36, 0.81) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

    background-size: 600% 600%;
    animation: gradient 10s ease infinite, fadein 1.2s ease-in-out both;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

h1 {
    /* color:white; */
    color: #e2cc0a;
    font-size: 3rem;
}

.container {
    width: 80vw;
    height: 60vh;
    margin: 1.5rem auto;

}

.game {
    width: 70%;
    height: 100%;
    margin: auto auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, .2fr);
    justify-content: center;
    gap: 1rem;
    /* display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap; */
}

.box {
    border: none;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 0 2rem rgb(9, 8, 8);
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(165, 42, 42, 0.837);
    cursor: pointer;


}

/* additional */
.box {
    background-image: linear-gradient(to right, #d298dd 0%, #FFFFFF 50%, #ECE9E6 100%)
}

.box {
    transition: 0.5s;
    background-size: 200% auto;

}

.box:hover {
    background-position: center right;
    text-decoration: none;
}




.reset-btn,
.exit-btn {
    background-image: linear-gradient(to right, #6c447e 0%, #d8ac7f 51%, #9e6b9b 100%)
}

.reset-btn,
.exit-btn {
    margin: 1rem;
    padding: .7rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 2rem #956060;
    border-radius: .5rem;
    border: none;
    font-size: 1rem;

}

button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #f5f1f1;
    text-decoration: none;
}

#winner {
    margin-top: .5rem;
    font-size: 4rem;
    color: white;
}